.navbar{   
background-color: transparent; /* Make the navbar background transparent */
padding: 0; /* Remove default padding */
}
.navbar img {    
width: 100%; /* Make the image fill the navbar width / height: auto; / Maintain aspect ratio */
display: block; /* Prevent any extra spacing below the image */
 }
.header{
    height: 100vh;
    width: 70vw;
    background-image: url(./INGREDIENTS.png);
    background-size:cover;
}

.btn-orange {
    background-color: rgb(255, 38, 0); /* couleur de fond orange */
    color: white; /* texte en blanc */
    border: none; /* sans bordure */
    padding: 10px 20px; /* padding pour le texte à l'intérieur du bouton */
    
    text-decoration: none; /* suppression de la décoration de texte */
    display: inline-block; /* affichage en ligne */
    font-size: 16px; /* taille de la police */
    
    cursor: pointer; /* curseur en forme de main survolant le bouton */
    border-radius: 5px; /* bords arrondis */
    transition: background-color 0.3s ease; /* transition douce pour le changement de couleur */
  }
  
  .btn-orange:hover {
    background-color: darkorange; /* couleur de fond orange foncé au survol */
  }
  

.container {
    text-align: center;
    width: 80%;
    margin: auto;
    overflow: hidden;
}

p, h1, h3 {
    text-align: center;
}

.card-group {
    display: flex;
    justify-content: flex-end;
    gap: 10px;
}

.card {
    border: 2px solid #ccc;
    border-radius: 80px 0 0 80px;
    padding: 10px;
}

.card-body {
    background-color: #f9f9f9;
}


.footer {
    background-color: #2d6a4f;
    color: white;
    padding: 20px;
    text-align: center;
    border-radius: 50px 0 0 50px;
}

.footer-content h1 {
    font-size: 24px;
    margin: 0;
}

.footer-content .highlight {
    color: red;
}

.reservation-button {
    background-color: rgb(255, 38, 0);
    border: none;
    color: white;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 16px;
    margin-top: 10px;
    float: right;
}

.footer-bottom {
    margin-top: 20px;
    font-size: 12px;
}
hr {
    border: none;
    height: 2px;
    background-color: rgb(250, 246, 246);
    margin: 20px 0;
}
.review-section {
    padding: 40px 20px;
    text-align: center;
}

.review-card {
    padding: 20px;
    border-radius: 10px;
    margin: 20px;
    background-color: white;
    color: #2d6a4f;
    display: inline-block;
    position: relative;
}


.quote-icon {
    font-size: 2rem;
    color: #ff6b6b;
    position: absolute;
    top: -10px;
    left: -10px;
}

.review-text {
    font-size: 1.2rem;
    margin-top: 10px;
    padding: 20px;
    background-color: #2d6a4f;
    color: white;
    border-radius: 10px;
}

.reviewer {
    font-weight: bold;
    margin-top: 20px;
}

.rating {
    color: #ff6b6b;
    font-size: 1.5rem;
}
.card-custom {
    max-width: 200px;
    max-height: px;
}